:root{
    --color-1: rgb(157, 157, 214);
    --color-2: rgb(105, 44, 204);
    --color-3: rgb(47, 88, 177);
}

@font-face {
    font-family: "fuente";
    src: url(../storage/fonts/Montserrat-VariableFont_wght.ttf);
}